<h1>About</h1>

<div class="margin-top-20 margin-bottom visible-xs">
    <a href="@Url.Action("Index", "Series")" class="big-link">Go to collection</a>
</div>

<p>
    This site was created by me, <a href="http://www.jacksutherland.com">Jack Sutherland</a>, to help maintain my comic collections and ongoing series.
    It includes things like wish and favorites lists.
    For more information about me, please checkout my website at <a href="http://www.jacksutherland.com">www.jacksutherland.com</a>.
</p>